.hero {
    //Helpers
    &.is-relative {
        position: relative;
    }
    &.is-cover {
        background-size: cover !important;
    }
    //Light grey background
    &.is-light-grey {
        background-color: $light-grey;
        background-image: -webkit-linear-gradient(309deg, #d0e0ec 0%, #f5f7fa 71%, white 100%);
        background-image: linear-gradient(141deg, #d0e0ec 0%, #f5f7fa 71%, white 100%);
        .title.dark {
            color: $blue-grey;
        }
        .title.theme {
            color: $primary;
        }
        .subtitle {
            margin-top: 0 !important;
            padding-right: 20%;
            line-height: 1.6 !important;
        }
    }
    &.has-background {
        background: $main;
    }
}

/* ==========================================================================
1. Hero body 
========================================================================== */
.hero-body {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    //page title styles
    .title {
        &.main-title {
            color: $white;
            z-index: 999;
            font-size: 3.5rem;
        }
        &.big-title {
            color: $blue-grey;
            z-index: 999;
            font-size: 4rem;
        }
        &.page-title {
            font-size: 3.5rem;
        }
        &.medium-title {
            font-size: 2.5rem;
        }
        &.small-title {
            font-size: 2rem;
        }
    }
}