.model-card {
	position: relative;
	width: 200px;
	height: 86px;

	margin: 1.2rem;
}

.model-card-title {
	/* ModelName */
	
	position: absolute;
	width: 105px;
	height: 22px;
	left: 7px;
	top: 6px;
	
/*	font-family: Roboto;
*/	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;

	color: #5137AD;
}

.model-card-publication-date {
	/* PublicationDate */
	
	position: absolute;
	width: 67px;
	height: 15.17px;
	left: 125px;
	top: 7px;
	
/*	font-family: Roboto;
*/	font-style: normal;
	font-weight: 300;
	font-size: 9px;
	line-height: 11px;
	text-align: right;
	
	color: #6C4DCC;
}

.model-card-paper-link {
	/* PaperLink */

	position: absolute;
	width: 17px;
	height: 17px;
	left: 7px;
	top: 30px;

	color: black;
	z-index: 2;
}

.model-card-repo-link {
	/* RepoLink */

	position: absolute;
	width: 17px;
	height: 17px;
	left: 36px;
	top: 30px;

	color: black;
}

.model-card-training-logo {
	/* weightlifting */
	
	position: absolute;
	width: 16px;
	height: 17.2px;
	left: 7px;
	top: 64px;
}

.model-card-training-title {
	/* TrainSetName */
	
	position: absolute;
	width: 55px;
	height: 18.21px;
	left: 35px;
	top: 64px;
	
/*	font-family: Roboto;
*/	font-style: normal;
	font-weight: 300;
	font-size: 10px;
	line-height: 12px;
	display: flex;
	align-items: center;
	
	color: #6C4DCC;
}

.model-card-task-title {
	/* TaskTitle */
	
	position: absolute;
	width: 110px;
	height: 10px;
	left: 82px;
	top: 68px;
	
/*	font-family: Roboto;
*/	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	line-height: 9px;/* identical to box height */
	text-align: right;
	
	color: #69728C;
}
