/* ==========================================================================
1. Body 
========================================================================== */
.rocket-title {
    /* Rectangle */

    padding: 0.5rem;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.rocket-repo-button {
    /* Rectangle */
    padding: 0.75rem;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.rocket-repo-logo {
    width: 24px;
    height: 24px;
}

.rocket-paper-button {
    /* Rectangle */
    padding: 0.75rem;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.rocket-paper-logo {
    width: 24px;
    height: 24px;
}

.rocket-snippet{
    /* Rectangle */

    padding: 0.75rem;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    font-family: Consolas;
}

.rocket-family {
    /* Rectangle */

    padding: 0.75rem;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.rocket-description-box {
    /* Rectangle */

    padding: 0.75rem;
    min-height: 200px;

    background: #FAFBFD;
    border-radius: 15px;
}

.rocket-description-title {

}

.rocket-description-body {

}

.rocket-trainable-notice {
    padding: 0.75rem;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.rocket-trainable-title {

}

.rocket-trainable-badge {
    width: 32px;
    height: 32px;
}

.rocket-public-notice {
    /* Rectangle */

    padding: 0.75rem;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.rocket-public-title {

}

.rocket-public-badge {
    width: 32px;
    height: 32px;
}